<div class="container">
  <div class="fallpro-landing-header">
    <div class="fallpro-landing-logo">
        <%= print_image ('FallProPlanlogo.png') %>
    </div>
    <span>Use it free or subscribe to FallProPlan.com Premium</span>
</div>

<div class="row">
  <div class="col-md-6 fallpro-landing-column">
    <div class="fallpro-landing-column-inner">
      <span>FallProPlan.com Free</span>
      <span>$0/<small>month</small></span>
      <hr>
          <ul>
      <li>Fall Protection Plan Engine</li>
      <li>Email finished plan to anyone</li>
      <li>Max 10 Plans per month limit</li>
      <li>Ads</li>
    </ul>
      <div class="fallpro-gray">
        <ul>
          <li>Unlimited Plans per month</li>
          <li>Ad free</li>
          <li>Save plans</li>
          <li>Retrieve, edit, save plans</li>
          <li>Create profiles for users and sites</li>
          <li>Save other documents</li>
          <li>Print Plans</li>
        </ul>
      </div>
    <%= link_to "USE IT NOW FREE", new_fallpro_path, class: "fallpro-landing-button" %>
    </div>

  </div>
    <div class="col-md-6 fallpro-landing-column">
      <div class="fallpro-landing-column-inner">
        <span>FallProPlan.com Free</span>
        <span>$19.99/<small>month</small></span>
          <hr>
              <ul>
      <li>Fall Protection Plan Engine</li>
      <li>Email finished plan to anyone</li>
      <li>Ad Free</li>
      <li>Unlimited Plans per month</li>
      <li>Ad free</li>
      <li>Save plans</li>
      <li>Retrieve, edit, save plans</li>
      <li>Create profiles for users and sites</li>
      <li>Save other documents</li>
      <li>Print Plans</li>
    </ul>
    <br><br>

      <%= link_to "GET IT NOW", new_fallpro_path, class: "fallpro-landing-button" %>
      </div>
  </div>

</div>

<div class="row fallpro-items-row">
  <div class="fallpro-landing-header">
    <span>FallProPlan.com is part of a family of Workplace Safety solutions.  It is powered by:</span>
  </div>
   <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
      <div class="fallpro-landing-column-inner">
        <div class="fallpro-landing-item">
          <%= print_image ('logo-compressor.png') %>
          <ul>
            <li>Distribution of technical
  Safety Products</li>
            <li>Technical Safety Documents
  and Programs</li>
            <li>On Site Consulting</li>
            <li>CAD site and traffic plans</li>
          </ul>
        </div>
        <span>WeTheSafe.com</span>
    </div>
  </div>
    <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
      <div class="fallpro-landing-column-inner">
        <div class="fallpro-landing-item">
          <%= print_image ('FallProTraininglogo.png') %>
          <ul>
            <li>Classroom Safety Education</li>
            <li>Hybrid Fall Protection Training</li>
            <li>Confined Space training</li>
            <li>Supervisor training</li>
          </ul>
        </div>
        <span>FallProtraining.com</span>
    </div>
  </div>
  <div class="col-md-4 fallpro-landing-column fallpro-landing-items">
    <div class="fallpro-landing-column-inner">
      <div class="fallpro-landing-item">
        <%= print_image ('QRSafetylogo.png') %>
        <ul>
            <li>Safety Management System</li>
            <li>Database Management</li>
            <li>QR Code profile systems</li>
            <li>QR Code worker orientations</li>
          </ul>
      </div>
      <span>QRsafety.com</span>
    </div>
  </div>

</div>

<p><strong>Disclaimer:</strong></p>
<p>FallProPlan.com is a series of questions that should be answered prior to working at heights.  It is intended to help a qualified person complete a fall protection plan.  It is not the only questions and is not a replacement for proper supervision or training.  Prior to working in any hazardous environment, it is the responsibility of the supervisor to complete an assessment and implement the controls needed to reduce the risk.</p>

          <p>FallProPlan.com may be a part of this total solution however is not to be the only part of it.
FallProPlan.com and We the Safe Consulting Inc. does not guarantee, in any way, that the plan created with our system is complete or that it meets the entire requirements for any regulatory requirements or company rules.  Furthermore, it is not possible for FallProPlan.com or We the Safe Consulting Inc.  to confirm that any of the information entered is correct or that the actions stated are performed.
Users of FallProPlan.com use it at their own risk.</p>


</div>