
<div class="container">
      <div class="onsite-header-wrapper">
                <span class="onsite-header">Fall Pro Plan</span></br>
        <span class="onsite-header onsite-small">Hazard - Controls</span>
      </div>
      <%= form_for @hazard do |f| %>
      <% if @hazard.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@hazard.errors.count, "error") %> prohibited this hazard from being saved:</h2>

          <ul>
          <% @hazard.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

          <div class="form-group onsite-forms">
            <div class="row">
                <div class="col-md-6">
                  <p>Are there any power lines close to your work area? <p>
                </div>
                <div class="col-md-6">
                   <div class="super-buttons">

                    <%= link_to "Yes", "#", class: "btn btn-primary exam_button", id: "yes-power"  %>
                    <%= link_to "No", "#", class: "btn btn-primary exam_button", id: "no-power" %>
                    </div>
                </div>
                <p style="display: none" id="power_warning" class="bg-warning">Additional procedures and controls will be required, see local regulations and supervisor for direction before you do the work.</p>
            </div>

            <p>Consider the materials and tools you are using.  Could they accidently get close to the power lines (limits of approach) </p>
                
               <!--  <div style="display: none; width: 300px" id="slope-type">
                   <%= f.label :drop_strike, "What could dropped objects strike?" %><br>
                  <%= f.select :drop_strike, [ 'Public', "Fellow Workers", "Workers and Public"], {}, class: 'exam_forms form-control' %><br />
                </div> -->
                
                
              <div class="row">
                <div class="col-md-6">
                  <p>Are there any floor openings, shafts, holes that you will be working around?</p>
                </div>
                <div class="col-md-6">
                  <div class="super-buttons">
	                <%= link_to "Yes", "#", class: "btn btn-primary exam_button", id: "yes-holes"  %>
	                <%= link_to "No", "#", class: "btn btn-primary exam_button", id: "no-holes" %>
                </div>
              </div>
              <div class="col-md-12">
                  <div style="display: none; width: 300px" id="hole-control-picker">
                   <%= f.label :hole_control, "How will you control them?" %><br>
                  <%= f.select :hole_control, [ 'Cover them with cover of adequate strength', "Put guardrails around them", "Other – user defined"], {}, class: 'exam_forms form-control' %><br />
                </div>
              </div>
              </div> <!-- row -->
              <%= f.hidden_field :fallpro_id, value: @fallpro.id  %>
              <%= f.hidden_field :power_lines, value: false  %>
              <%= f.hidden_field :holes, value: false  %>

<div style="height:50px"></div>

            <div>
              <%= f.submit "Next Step", class: 'btn btn-success btn-lg btn-block ipad-button ' %> 
            </div>
        </div>
      <% end %>

</div>


  <script>
  $( function() {
    $('#yes-power').click(function(e) {
      e.preventDefault();
      test = $(this)
      console.log(test)
      test.addClass('super-button-clicked')
      $('#no-power').removeClass('super-button-clicked')
      $('#power_warning').show()
      $('#fallpro_hazard_power_lines').val(true)
      });

    $('#no-power').click(function(e) {
      e.preventDefault();
      test = $(this)
      console.log(test)
      test.addClass('super-button-clicked')
      $('#yes-power').removeClass('super-button-clicked')
      $('#power_warning').hide()
      $('#fallpro_hazard_power_lines').val(false)
      });

    $('#yes-holes').click(function(e) {
      e.preventDefault();
      test = $(this)
      console.log(test)
      test.addClass('super-button-clicked')
      $('#no-holes').removeClass('super-button-clicked')
      $('#hole-control-picker').show()
      $('#fallpro_hazard_holes').val(true)
      });

    $('#no-holes').click(function(e) {
      e.preventDefault();
      test = $(this)
      console.log(test)
      test.addClass('super-button-clicked')
      $('#yes-holes').removeClass('super-button-clicked')
      $('#hole-control-picker').hide()
      $('#fallpro_hazard_holes').val(false)
      });
  });
</script>
