<!DOCTYPE html>
<html>
  <head>
    <title>Wethesafe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,500,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <%= javascript_pack_tag 'application' %>
        
   
  </head>	

 	 <body>



    <% if notice %>
      <div id="notice_wrapper">
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper">
        <p><%= alert %></p>
      </div>
    <% end %>
    <div id='remote_container'></div>
  <!-- <div id="notice_wrapper">
        <p><%= @current_resource ? @current_resource : "No current_resource" %></p>
      </div>  -->
   
      <%= render 'layouts/header' %>
      <%= render 'layouts/mainheader' %>
      <div id="main_div">

      <%= yield %>
    </div>


      <%= render 'layouts/footer' %>


    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $("#notice_wrapper").fadeOut("slow", function(){
            $(this).remove();
          })
        }, 4500);
        $("#notice_wrapper").click(function(){
          console.log("Clicked");
          $(this).remove();
          });
      });
    </script>


 
  </body>
</html>
