<!DOCTYPE html>
<html>
  <head>
    <title>Wethesafe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,500,600,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <%= javascript_pack_tag 'application' %>
   
  </head>	

 	 <body>



    <% if notice %>
      <div id="notice_wrapper">
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper">
        <p><%= alert %></p>
      </div>
    <% end %>
    <div id='remote_container'></div>
  <!-- <div id="notice_wrapper">
        <p><%= @current_resource ? @current_resource : "No current_resource" %></p>
      </div>  -->
   
      <%= render 'layouts/header' %>
      <%= render 'layouts/mainheader' %>
      <div id="main_div">

      <%= yield %>
    </div>


      <%= render 'layouts/footer' %>

<!--      <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $("#notice_wrapper").fadeOut("slow", function(){
            $(this).remove();
          })
        }, 4500);
        $("#notice_wrapper").click(function(){
          console.log("Clicked");
          $(this).remove();
          });
      });
    </script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
